.craftjs-renderer {
  position: relative;
}

.node-indicator {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  line-height: 32px;
  background-color: #0072ee;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 12px;
  z-index: 9999;
  user-select: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.rename-input {
  width: 110px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #fff;
  font-size: 12px;
  margin-right: 8px;
  outline: none;
}
.rename-input:focus {
  border-color: #fff;
}

.node-indicator h2 {
  margin-right: 8px;
  font-size: 12px;
  cursor: pointer;
}

.node-indicator svg {
  fill: #fff;
  width: 18px;
  height: 18px;
  opacity: 0.9;
}

.icon-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 8px;
}
